* {
  margin: 0;
}

div {
  background-color: #45cdff;
}

img {
  height: 25%;
  width: auto;
}

.main {
  display: flex;
  height: 100%;
}

                                            /* поле с картами */

.card_field {
  display: flex;
}

.column {
  background-color: blue;
}

.card:hover {
  opacity: 0.8;
}

.card {
  cursor: pointer;
}

                                            /* кнопки */

.control {
  margin: 0 auto;
  padding-top: 10%;
}

.btn {
  width: 150px;
  height: 30px;
  cursor: pointer;
  background-color: #d1d1d1;
}

.btn:hover {
  background-color: #fff;
}

.buttons {
  margin: 20px 0;
}

                                            /* вспомогательные классы */

.active {
  opacity: 0.4;
}

.active:hover {
  opacity: 0.6;
}

.hide {
  opacity: 0.2;
  pointer-events: none;
}
